@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
   

}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}
.hero {
     max-width: 400px;
}

.main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 10px;
}

.secondary {
    font-size: 18px;
    color: #efe7eb;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #efe7eb;
}

.navigation {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
}
.placeholder {
    background-color: #efe7eb70;
    height: 250px;
    width: 500px;
    color: #efe7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign {
    background-color: #3882f6;
    color: #efe7eb;
    font-size: 18px;
    padding: 6px 18px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;

}
.container-1 {
    background-color: #1f2937;
    display: flex;
    padding: 100px 180px;
    justify-content: space-between;
    align-items: center;
}